<launch>
    <arg name="robot_name"            default="/"/>
    <arg name="use_sim_time"          default="true"/>
    <arg name="gui"                   default="true"/>
    <arg name="headless"              default="false"/>
    <arg name="paused"                default="false"/>
    <arg name="lite"                  default="false" />
    <arg name="ros_control_file"      default="$(find champ_gazebo)/config/ros_control.yaml" />
    <!-- <arg name="gazebo_world"          default="$(find champ_gazebo)/worlds/outdoor.world" /> -->
    <arg name="world_init_x"          default="0.0" />
    <arg name="world_init_y"          default="0.0" />
    <arg name="world_init_z"          default="0.6" />
    <arg name="world_init_heading"    default="0.0" />
    <arg name="enable_contact_sensor" default="true" />
    <arg name="respawn_controller"    default="false"/>

    <!-- this should be only called once on multi-robot simulation -->
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg gazebo_world)"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="$(arg headless)"/>
    </include> -->

    <group ns="$(arg robot_name)">
        <node  name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot_name)  
        -param robot_description -robot_namespace $(arg robot_name) 
        -x $(arg world_init_x) -y $(arg world_init_y) -z $(arg world_init_z) -Y $(arg world_init_heading) 
        -J $(arg robot_name)::front_left_hip_x 0.0033264971323641035
        -J $(arg robot_name)::front_left_hip_y 1.058734917600117
        -J $(arg robot_name)::front_left_knee -1.680075224195293
        -J $(arg robot_name)::front_right_hip_x -0.001955811544845254
        -J $(arg robot_name)::front_right_hip_y 1.0587403420582753
        -J $(arg robot_name)::front_right_knee -1.6800752880299754
        -J $(arg robot_name)::rear_left_hip_x 0.002242282379459226
        -J $(arg robot_name)::rear_left_hip_y 1.0589877904510274
        -J $(arg robot_name)::rear_left_knee -1.6801169043240902
        -J $(arg robot_name)::rear_right_hip_x -0.0019677501448338575
        -J $(arg robot_name)::rear_right_hip_y 1.058747714994479
        -J $(arg robot_name)::rear_right_knee -1.680062987550972" />

        <rosparam file="$(arg ros_control_file)" command="load"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="$(arg respawn_controller)"
            output="screen" args="joint_states_controller joint_group_position_controller">
        </node>

        <node if="$(arg enable_contact_sensor)"  pkg="champ_gazebo" name="contact_sensor" type="contact_sensor" output="screen"/>
    </group>
</launch>

